{% extends 'base.html' %}

{% block content %}

{#    <style>#}
{#        .testing {#}
{#            background-color: yellow;#}
{#            height: 48px;#}
{#            width: 48px;#}
{#            margin: 1rem;#}
{#            border-radius: .5rem;#}
{#        }#}
{#    </style>#}
    <div style="margin: 2rem; text-align: center" >
        <h1 style="font-family: 'Lobster'; margin: 2rem;">
            Hello World List
        </h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <div class="input-group mb-3 w-50 m-auto ">
              <input type="text" class="form-control"
                     name="hello_world_input">
              <button class="btn btn-info" type="submit">
                  Button
              </button>
            </div>
{#            <input type="text" name="hello_world_input">#}
{#            <input class="btn btn-info rounded-pill px-4" type="submit">#}
        </form>

        {% if hello_world_list %}
            {%  for hello_world in hello_world_list %}
            <h3>{{ hello_world.text }}</h3>
            {% endfor %}
        {% endif %}


{#    <div class="testing" style="display: inline-block">block</div>#}
{#    <div class="testing" style="display: inline-block; width: 3rem; height: 3rem;">block</div>#}
{#    <div class="testing" style="display: inline-block; width: 3em; height: 3em;">block</div>#}
{#    <div class="testing" style="display: inline-block; width: 30%; height: 30%;">block</div>#}

    </div>

{% endblock %}
